{{ define "header" }}
    <nav class="navbar navbar-light bg-light px-4 py-2 shadow-sm">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <!-- Логотип-ссылка на предпочтения -->
            <a class="navbar-brand d-flex align-items-center" href="/preferences">
                <img src="/static/logo.jpg" alt="Логотип" width="40" height="40" class="me-2" />
            </a>

            <!-- Фото профиля + ссылка на личный профиль -->
            <div class="d-flex align-items-center">
                <a href="/preferences" class="me-3 text-decoration-none text-dark">Предпочтения</a>
                <a href="/user" class="me-3 text-decoration-none text-dark">Профиль</a>
            </div>
        </div>
    </nav>
{{ end }}